<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
         <link href="{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <!-- bootstrap theme -->
         <link href="{{asset('bootstrap/css/bootstrap-theme.css')}}" rel="stylesheet">
         <!--external css-->
         <!-- font icon -->
         <link href="{{asset('bootstrap/css/elegant-icons-style.css')}}" rel="stylesheet" />
         <link href="{{asset('bootstrap/css/font-awesome.css')}}" rel="stylesheet" />
         <!-- Custom styles -->
         <link href="{{asset('bootstrap/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('bootstrap/css/style-responsive.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
   
    <![endif]-->
            {#{{ encore_entry_link_tags('app') }}#}
            {#{{ encore_entry_script_tags('app') }}#}
             <script src="{{asset('bootstrap/js/html5shiv.js')}}"></script>
            <script src="{{asset('bootstrap/js/respond.min.js')}}"></script>
        {% endblock %}

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
